/* line 2, ../app/style/partials/_style.sass */
html {
  font-family: "Roboto", sans-serif !important;
  font-size: 100%;
}
@media (max-width: 1240px) {
  /* line 2, ../app/style/partials/_style.sass */
  html {
    font-size: 90%;
  }
}
@media (max-width: 992px) {
  /* line 2, ../app/style/partials/_style.sass */
  html {
    font-size: 80%;
  }
}

/* line 10, ../app/style/partials/_style.sass */
html, body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #24d7e9;
  font-size: 0.9375rem;
  line-height: 1.375rem;
}

/* line 22, ../app/style/partials/_style.sass */
.content {
  min-height: 90%;
  height: 90%;
  height: auto !important;
  padding-left: 3%;
  overflow: auto;
}
/* line 28, ../app/style/partials/_style.sass */
.content .sidebar {
  width: 10rem;
  float: left;
}
@media (max-width: 600px) {
  /* line 28, ../app/style/partials/_style.sass */
  .content .sidebar {
    float: none;
  }
}
/* line 33, ../app/style/partials/_style.sass */
.content .sidebar img.logo {
  margin-top: 1rem;
  margin-left: -1rem;
  width: 10rem;
}
/* line 37, ../app/style/partials/_style.sass */
.content .main-area {
  margin-left: 10rem;
  position: relative;
}
@media (max-width: 600px) {
  /* line 37, ../app/style/partials/_style.sass */
  .content .main-area {
    margin-left: 0;
  }
}
/* line 42, ../app/style/partials/_style.sass */
.content .main-area .gallery-wrapper {
  overflow: hidden;
}
/* line 44, ../app/style/partials/_style.sass */
.content .main-area .gallery-grid {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style: none;
  margin-right: -100px;
  padding-right: 100px;
}
/* line 51, ../app/style/partials/_style.sass */
.content .main-area .gallery-grid li {
  position: absolute;
}
/* line 53, ../app/style/partials/_style.sass */
.content .main-area .gallery-grid li .wrapper {
  background: white;
  padding: 1rem;
}
/* line 56, ../app/style/partials/_style.sass */
.content .main-area .gallery-grid li .wrapper img {
  width: 100%;
  cursor: pointer;
}
/* line 59, ../app/style/partials/_style.sass */
.content .main-area .gallery-grid .status {
  font-size: 0.7rem;
  opacity: 0.5;
}
/* line 62, ../app/style/partials/_style.sass */
.content .main-area .gallery-grid .poetry {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
/* line 66, ../app/style/partials/_style.sass */
.content .main-area .gallery-grid .author {
  display: block;
  text-align: right;
  font-size: 0.8rem;
}
/* line 71, ../app/style/partials/_style.sass */
.content .main-area .events-wrapper {
  overflow: hidden;
}
/* line 73, ../app/style/partials/_style.sass */
.content .main-area .events-list {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style: none;
  margin-right: -100px;
  padding-right: 100px;
}
/* line 81, ../app/style/partials/_style.sass */
.content .main-area .events-list li {
  width: 66.10169%;
  float: left;
}
@media (max-width: 992px) {
  /* line 81, ../app/style/partials/_style.sass */
  .content .main-area .events-list li {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  /* line 85, ../app/style/partials/_style.sass */
  .content .main-area .events-list li.odd {
    margin-left: 25.42373%;
  }
}
/* line 88, ../app/style/partials/_style.sass */
.content .main-area .events-list li .text-block {
  float: left;
  text-align: right;
  font-size: 1.5rem;
}
@media (max-width: 900px) {
  /* line 88, ../app/style/partials/_style.sass */
  .content .main-area .events-list li .text-block {
    float: none;
  }
}
/* line 94, ../app/style/partials/_style.sass */
.content .main-area .events-list li .text-block span {
  display: block;
  color: #0f8b98;
}
/* line 97, ../app/style/partials/_style.sass */
.content .main-area .events-list li .text-block span.date {
  font-weight: 100;
}
/* line 99, ../app/style/partials/_style.sass */
.content .main-area .events-list li .text-block span.title {
  font-weight: 500;
}
/* line 101, ../app/style/partials/_style.sass */
.content .main-area .events-list li .circle {
  float: left;
  width: 15rem;
  height: 15rem;
  border-radius: 15rem;
  cursor: pointer;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media (max-width: 900px) {
  /* line 101, ../app/style/partials/_style.sass */
  .content .main-area .events-list li .circle {
    float: none;
  }
}
@media (max-width: 1150px) {
  /* line 101, ../app/style/partials/_style.sass */
  .content .main-area .events-list li .circle {
    width: 10rem;
    height: 10rem;
  }
}
/* line 113, ../app/style/partials/_style.sass */
.content .main-area .events-list li .circle:hover {
  width: 18rem;
  height: 18rem;
}

/* line 117, ../app/style/partials/_style.sass */
.event-wrapper {
  overflow: hidden;
}
/* line 120, ../app/style/partials/_style.sass */
.event-wrapper .event-main-text {
  margin-left: 8.47458%;
  width: 66.10169%;
  float: left;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style: none;
  margin-right: -1000px;
  padding-right: 1000px;
}
/* line 130, ../app/style/partials/_style.sass */
.event-wrapper .event-main-text .about {
  margin-left: 8.47458%;
}

/* line 137, ../app/style/partials/_style.sass */
#screen-home img.house-in-sea {
  display: block;
  position: absolute;
  z-index: 10;
  width: 100%;
  right: 0;
  bottom: 30px;
}

/* line 145, ../app/style/partials/_style.sass */
img.house-in-sea {
  display: none;
}

/* line 149, ../app/style/partials/_style.sass */
.footer {
  position: relative;
  z-index: 100;
  min-height: 10%;
  width: 100%;
  background-color: #d6c8ad;
}
/* line 155, ../app/style/partials/_style.sass */
.footer .girl-sea {
  position: absolute;
  top: -4.2rem;
  left: 10rem;
}

/* line 160, ../app/style/partials/_style.sass */
.nav {
  position: relative;
  z-index: 100;
  list-style: none;
  padding: 0;
}
/* line 165, ../app/style/partials/_style.sass */
.nav li {
  margin-bottom: 0.3rem;
}
/* line 167, ../app/style/partials/_style.sass */
.nav a {
  color: white;
  font-weight: 100;
  font-size: 1.3rem;
  text-decoration: none;
}
@media (max-width: 768px) {
  /* line 167, ../app/style/partials/_style.sass */
  .nav a {
    color: black;
  }
}

/* line 176, ../app/style/partials/_style.sass */
.modal-backdrop {
  display: none;
  background-color: #24d7e9;
  opacity: 0.95;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}
/* line 178, ../app/style/partials/_style.sass */
.modal-backdrop.show {
  display: block;
}

/* line 189, ../app/style/partials/_style.sass */
.modal-picture {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  margin-left: -12rem;
  z-index: 1010;
}
@media (max-width: 600px) {
  /* line 189, ../app/style/partials/_style.sass */
  .modal-picture {
    margin-left: -2rem;
  }
}
/* line 198, ../app/style/partials/_style.sass */
.modal-picture .picture {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 205, ../app/style/partials/_style.sass */
.modal-picture .slider-arrow {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 4rem;
  z-index: 1002;
  opacity: 0.3;
  cursor: pointer;
}
/* line 214, ../app/style/partials/_style.sass */
.modal-picture .slider-arrow:hover {
  opacity: 1;
}
/* line 216, ../app/style/partials/_style.sass */
.modal-picture .slider-arrow.left-arrow {
  left: 1rem;
}
/* line 218, ../app/style/partials/_style.sass */
.modal-picture .slider-arrow.right-arrow {
  right: 1rem;
}
/* line 220, ../app/style/partials/_style.sass */
.modal-picture .close {
  position: absolute;
  z-index: 1001;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  cursor: pointer;
}
